@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

body {
    font-family: 'NanumBarunGothic';
    overflow: hidden;
    user-select: none;
}

#title {
    text-align: center;
    font-size: 120px;
    margin-top: 60px;
    margin-bottom: 10px;
}

#answer {
    font-style: italic;
    color: blue;
}

.stockList {
    float: left;
    padding: 20px;
    margin: 5px;
    margin-right: 20px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    
    /* background-color: red; */
}

.bankList {
    float: left;
    padding: 20px;
    margin: 5px;
    margin-right: 20px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    
    /* background-color: red; */
}

.storeItem {
    float: left;
    padding: 20px;
    margin: 5px;
    margin-right: 20px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    
    /* background-color: red; */
}

#stockList {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#status {
    text-align: center;
    padding: 5px;
    margin: 5px;
    margin-right: 25px;
    border: 1px solid black;
    border-radius: 10px;
    grid-template-rows: 33% 33% 33%;
    display: grid;
    align-items: center;
}

#status.p {
    align-self: center;

}

.stockInfo {
    float: right;
    width:20%;
}

#started {
    grid-template-columns: 320px 1000px;
    /* grid-template-rows: 1000px 1000px; */
    display: grid;
}

#list {
    grid-template-rows: 120px 50px 60px 1000px;
    display: grid;
}

#saveBtn {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-self: center;
    width: 270px;
    background-color: white;
}

#saveBtn:hover {
    background-color: rgb(235, 235, 235);
}

#saveDiv {
    display: flex;
}

.menu {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-self: center;
}

#menuList {
    grid-template-columns: 100px 100px 100px;
    display: grid;
}

.on {
    background-color: rgb(235, 235, 235);
}

#bs {
    /* display: flex; */
    text-align: center;
}

#buy {
    background-color: #ff7c7c;
    
    align-self: center;
}

#sell {
    background-color: rgb(129, 129, 255);
    
    align-self: center;
}

.btn {
    padding: 10px;
    height:40px;
    align-self: center;
    width: 100px;
    color: white;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

#buySellGatsu {
    height: 40px;
    text-align: center;
}

.red {
    color: red;
}

.blue {
    color: blue;
}


.off {
    display: none;
}