#stockName {
    font-size: 40px;
}

#stockPrice {
    font-size: 20px;
    color: rgb(32, 32, 32)
}

#stockChart  {
    width: 700px;
    height: 300px;
}

#stockInfo {
    grid-template-rows: 120px 1000px;
    display: grid;
    margin-left: 50px;
}

#chartDiv {
    width: 1000px;
    height: 500px;
}

#stockType {
    color: rgb(150, 150, 150);
    font-size: 20px;
    margin-left: 15px;
}

#nowStockInfo {
    margin-left: 40px;
}